@keyframes points {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes footshake {
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 69px 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #579c87;
  width: 40%;
  height: 118px;
  color: #fdcb46;
  padding: 0 25px;
  margin-bottom: 84px;
}
.btn__title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
}
.btn__load {
  width: 8%;
  font-size: 60px;
  display: flex;
  margin: 0 0 15px 15px;
}
.btn__load__point {
  animation: points 1500ms infinite;
  animation-direction: alternate;
}
.btn__load__point--1 {
  animation-delay: 300ms;
}
.btn__load__point--2 {
  animation-delay: 600ms;
}
.btn__load__point--3 {
  animation-delay: 900ms;
}

@media screen and (max-width: 1024px) {
  .btn {
    width: 70%;
  }
  .btn__title {
    font-size: 37px;
  }
  .btn__load {
    font-size: 50px;
    margin: 0 0 5px 15px;
  }
}
@media screen and (max-width: 600px) {
  .btn {
    height: 80px;
  }
  .btn__title {
    font-size: 27px;
  }
  .btn__load {
    font-size: 40px;
    margin: 0 0 10px 15px;
  }
}
@media screen and (max-width: 400px) {
  .btn {
    height: 50px;
    border-radius: 10px;
  }
  .btn__title {
    font-size: 17px;
  }
  .btn__load {
    font-size: 30px;
    margin: 0 0 10px 5px;
  }
}
.restaurant-title {
  font-size: 55px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #353535;
  margin: 100px 0 55px;
}

@media screen and (max-width: 700px) {
  .restaurant-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 500px) {
  .restaurant-title {
    font-size: 30px;
  }
}
.underline-anim__title:hover + .underline-anim__progress {
  transform: scaleX(1);
}

.underline-anim__progress {
  border-bottom: 2px solid black;
  margin-top: -15px;
  border-radius: 30%;
  transform: scaleX(0);
  transition: transform 1000ms;
  transform-origin: left;
}

.up-note {
  border-bottom: 3px solid #3c1218;
  margin-top: -15px;
}

.up-chic-orange {
  border-bottom: 3px solid #c77412;
  margin-top: 0;
}

.up-chic-pink {
  border-bottom: 3px solid #a56799;
  margin-top: 0;
}

.up-chic-purple {
  border-bottom: 3px solid #6e4ccc;
  margin-top: 0;
}

.header {
  background: #579c87;
}
.header__title {
  font-family: Montserrat, sans-serif;
  color: #fdcb46;
  font-size: 92px;
  letter-spacing: -4px;
  line-height: 243px;
  text-align: center;
  margin: 0;
}
.header__liseret {
  background: #a1c181;
  height: 2px;
  width: 100%;
}

.link-return-accueil {
  text-decoration: none;
  color: #fdcb46;
}

@media screen and (max-width: 700px) {
  .header__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 500px) {
  .header__title {
    font-size: 50px;
  }
}
.container {
  width: 78.2%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .container-menu {
    width: 100%;
  }
}
.footer {
  background: #579c87;
  height: 136px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.footer__liseret {
  background: #a1c181;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
}
.footer__link {
  color: #fdcb46;
  font-size: 47px;
  text-decoration: none;
  margin: 0 42px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}
.footer__link:hover {
  animation: footshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9);
  animation-iteration-count: 2;
}

@media screen and (max-width: 1024px) {
  .footer__link {
    font-size: 37px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 500px) {
  .footer__link {
    font-size: 27px;
  }
}
.carte {
  width: 78.9%;
  margin: auto;
}

.head-title {
  text-align: center;
}

.menu-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
  margin-bottom: 135px;
  box-shadow: 0 0 25px #d8d8d8;
}

.separation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu-dispo {
  font-weight: 300;
  font-size: 29px;
}
.menu-dispo__choices {
  margin: 10px;
}

.choices {
  line-height: 46px;
}

.prices {
  margin: 0 0 0 30px;
}

@media screen and (max-width: 700px) {
  .menu-cont {
    flex-direction: column;
    text-align: center;
  }

  .menu-dispo p {
    font-size: 22px;
  }

  .prices {
    margin: 0 0 20px 30px;
  }
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 99px 0 0 0;
}

.section-accueil {
  width: 45.7%;
  height: 758px;
  box-shadow: 0 0 25px #d8d8d8;
  margin-bottom: 94px;
  text-decoration: none;
}

.content-affiche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 450ms;
}
.content-affiche:hover {
  transform: scale(1.12);
  opacity: 0.6;
}

.la-note {
  background: #fcdfdb;
  color: #3c1218;
}
.la-note__music {
  margin-top: 85px;
  font-size: 70px;
  background: -webkit-linear-gradient(290deg, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la-note__title {
  font-size: 54px;
  font-family: "Cookie", cursive, sans-serif;
  margin: 5px 0 0 0;
}
.la-note__big-title {
  font-family: "Kalam", cursive, sans-serif;
  font-size: 64px;
}

.le-chic {
  background: #fff5fe;
}
.le-chic__title {
  font-family: "Redressed", cursive, sans-serif;
  font-size: 44px;
  letter-spacing: 3px;
  margin-bottom: 0;
  background: -webkit-linear-gradient(290deg, #d8852e 50%, #905bfd 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le-chic__big-title {
  color: #c77412;
  font-size: 64px;
  letter-spacing: 5px;
}

.le-delice {
  background: #f9f9f9;
}
.le-delice__title {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 54px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 0 5px;
  background: -webkit-linear-gradient(290deg, #0431df 50%, #1b91fa 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le-delice__big-title {
  font-family: "Kalam", cursive, sans-serif;
  color: #0887fb;
  font-size: 64px;
  font-weight: 300;
}

.la-palette {
  background: #fdfffd;
}
.la-palette__title {
  font-family: "Kaushan Script", cursive, sans-serif;
  font-size: 54px;
  font-weight: 300;
  margin: 80px 0 -20px 0;
  font-weight: normal;
  background: -webkit-linear-gradient(290deg, #3d9339 40%, #bfff7e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la-palette__big-title {
  font-family: "Kalam", cursive, sans-serif;
  color: #72bf56;
  font-size: 64px;
  font-weight: 300;
}

@media screen and (max-width: 1350px) {
  .section-accueil {
    margin-bottom: 70px;
    height: 600px;
  }

  .la-note__music {
    font-size: 60px;
  }
  .la-note__title {
    font-size: 44px;
  }
  .la-note__big-title {
    font-size: 54px;
  }

  .le-chic__title {
    font-size: 34px;
  }
  .le-chic__big-title {
    font-size: 54px;
  }

  .le-delice__title {
    font-size: 44px;
  }
  .le-delice__big-title {
    font-size: 54px;
  }

  .la-palette__title {
    font-size: 44px;
  }
  .la-palette__big-title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .section-accueil {
    width: 100%;
    height: 958px;
    margin-bottom: 94px;
  }

  .la-note__music {
    font-size: 80px;
  }
  .la-note__title {
    font-size: 64px;
  }
  .la-note__big-title {
    font-size: 74px;
  }

  .le-chic__title {
    font-size: 54px;
  }
  .le-chic__big-title {
    font-size: 54px;
  }

  .le-delice__title {
    font-size: 64px;
  }
  .le-delice__big-title {
    font-size: 74px;
  }

  .la-palette__title {
    font-size: 64px;
  }
  .la-palette__big-title {
    font-size: 74px;
  }
}
@media screen and (max-width: 700px) {
  .section-accueil {
    height: 700px;
  }

  .la-note__music {
    font-size: 70px;
  }
  .la-note__title {
    font-size: 54px;
  }
  .la-note__big-title {
    font-size: 64px;
  }

  .le-chic__title {
    font-size: 44px;
  }
  .le-chic__big-title {
    font-size: 64px;
  }

  .le-delice__title {
    font-size: 54px;
  }
  .le-delice__big-title {
    font-size: 64px;
  }

  .la-palette__title {
    font-size: 54px;
  }
  .la-palette__big-title {
    font-size: 64px;
  }
}
@media screen and (max-width: 600px) {
  .section-accueil {
    width: 100%;
    height: 600px;
  }

  .la-note__music {
    font-size: 60px;
  }
  .la-note__title {
    font-size: 44px;
  }
  .la-note__big-title {
    font-size: 54px;
  }

  .le-chic__title {
    font-size: 34px;
  }
  .le-chic__big-title {
    font-size: 54px;
  }

  .le-delice__title {
    font-size: 44px;
  }
  .le-delice__big-title {
    font-size: 54px;
  }

  .la-palette__title {
    font-size: 44px;
  }
  .la-palette__big-title {
    font-size: 54px;
  }
}
@media screen and (max-width: 500px) {
  .section-accueil {
    height: 500px;
  }

  .la-note__music {
    font-size: 50px;
  }
  .la-note__title {
    font-size: 34px;
  }
  .la-note__big-title {
    font-size: 44px;
  }

  .le-chic__title {
    font-size: 24px;
  }
  .le-chic__big-title {
    font-size: 44px;
  }

  .le-delice__title {
    font-size: 34px;
  }
  .le-delice__big-title {
    font-size: 44px;
  }

  .la-palette__title {
    font-size: 34px;
  }
  .la-palette__big-title {
    font-size: 44px;
  }
}
@media screen and (max-width: 400px) {
  .section-accueil {
    height: 400px;
  }

  .la-note__music {
    font-size: 55px;
  }
  .la-note__title {
    font-size: 30px;
  }
  .la-note__big-title {
    font-size: 38px;
  }

  .le-chic__title {
    font-size: 20px;
  }
  .le-chic__big-title {
    font-size: 40px;
  }

  .le-delice__title {
    font-size: 28px;
  }
  .le-delice__big-title {
    font-size: 40px;
  }

  .la-palette__title {
    font-size: 27px;
  }
  .la-palette__big-title {
    font-size: 40px;
  }
}
.menu-la-note {
  background: #fcdfdb;
  color: #3c1218;
}

.head-la-note {
  text-align: center;
  font-family: "Cookie", cursive, sans-serif;
}
.head-la-note__music {
  font-size: 115px;
  background: -webkit-linear-gradient(290deg, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 95px 0 0px;
}
.head-la-note__title {
  font-size: 75px;
  margin: 0;
}

.carte-la-note {
  font-family: "Kalam", cursive, sans-serif;
}
.carte-la-note section:first-of-type {
  margin-top: 60px;
}

.section-la-note {
  margin-top: 85px;
}

.la-note-separation {
  margin-bottom: 30px;
}
.la-note-separation img {
  width: 32%;
}
.la-note-separation h3 {
  font-size: 40px;
  margin: 0;
}

.menu-dispo__prices-la-note {
  font-weight: bold;
}

.foot-la-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cookie", cursive, sans-serif;
  padding: 80px 0;
}
.foot-la-note__music {
  margin: 0;
  font-size: 65px;
  margin-right: 15px;
  background: -webkit-linear-gradient(290deg, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foot-la-note__title {
  margin: 0;
  font-size: 65px;
}

@media screen and (max-width: 1024px) {
  .la-note-separation img {
    width: 30%;
  }
  .la-note-separation h3 {
    font-size: 35px;
  }

  .foot-la-note__music {
    font-size: 65px;
  }
  .foot-la-note__title {
    font-size: 65px;
  }
}
@media screen and (max-width: 700px) {
  .head-la-note__music {
    font-size: 85px;
  }
  .head-la-note__title {
    font-size: 55px;
  }

  .la-note-separation img {
    width: 20%;
  }
  .la-note-separation h3 {
    font-size: 30px;
  }

  .foot-la-note__music {
    font-size: 45px;
  }
  .foot-la-note__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 500px) {
  .head-la-note__music {
    font-size: 65px;
  }
  .head-la-note__title {
    font-size: 45px;
  }

  .la-note-separation img {
    width: 0%;
  }
  .la-note-separation h3 {
    font-size: 30px;
  }

  .foot-la-note {
    flex-direction: column;
  }
  .foot-la-note__music {
    font-size: 45px;
  }
  .foot-la-note__title {
    font-size: 45px;
  }
}
.menu-le-chic {
  background: #fff5fe;
}

.head-le-chic-title {
  font-family: "Redressed", cursive, sans-serif;
  font-size: 72px;
  padding-top: 160px;
  background: -webkit-linear-gradient(290deg, #d8852e 50%, #905bfd 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte-le-chic section:first-of-type {
  margin-top: 170px;
}

.section-le-chic {
  margin-top: 85px;
}
.section-le-chic h3 {
  font-size: 33px;
  letter-spacing: 3px;
}

.le-chic-separation {
  width: 116%;
  margin: 0 0 40px -8%;
}
.le-chic-separation img {
  width: 28.5%;
}
.le-chic-separation h3 {
  margin: 0;
}

.orange-dark {
  color: #c77412;
}

.orange {
  color: #e08514;
}

.pink-dark {
  color: #a56799;
}

.pink {
  color: #bc8bb2;
}

.purple-dark {
  color: #6e4ccc;
}

.purple {
  color: #9276d9;
  padding-bottom: 230px;
}

.menu-dispo__prices-le-chic {
  font-weight: normal;
  font-size: 32px;
}

@media screen and (max-width: 1024px) {
  .head-le-chic-title {
    font-size: 60px;
  }

  .le-chic-separation img {
    width: 23%;
  }
  .le-chic-separation h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  .head-le-chic-title {
    font-size: 50px;
  }

  .le-chic-separation img {
    width: 17%;
  }
  .le-chic-separation h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .head-le-chic-title {
    font-size: 38px;
  }

  .le-chic-separation img {
    width: 0%;
  }
  .le-chic-separation h3 {
    font-size: 30px;
  }
}
.menu-le-delice {
  background: #f9f9f9;
}

.head-le-delice-title {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 103px;
  font-weight: normal;
  padding-top: 160px;
  background: -webkit-linear-gradient(290deg, #0431df 50%, #1b91fa 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte-le-delice {
  font-family: "Kalam", cursive, sans-serif;
}
.carte-le-delice section:first-of-type {
  margin-top: 125px;
}

.section-le-delice {
  margin-top: 40px;
}
.section-le-delice h3 {
  font-size: 33px;
  letter-spacing: 3px;
  font-weight: 300;
}

.le-delice-separation {
  width: 116%;
  margin: 70px 0 40px -8%;
}
.le-delice-separation img {
  width: 29%;
}
.le-delice-separation h3 {
  margin: 0;
}

.menu-dispo__prices-le-delice {
  font-weight: 300;
  font-size: 35px;
}

.last {
  padding-bottom: 270px;
}

@media screen and (max-width: 1024px) {
  .head-le-delice-title {
    font-size: 65px;
  }

  .le-delice-separation img {
    width: 30%;
  }
  .le-delice-separation h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  .head-le-delice-title {
    font-size: 55px;
  }

  .le-delice-separation img {
    width: 20%;
  }
  .le-delice-separation h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .head-le-delice-title {
    font-size: 43px;
  }

  .le-delice-separation img {
    width: 0%;
  }
  .le-delice-separation h3 {
    font-size: 30px;
  }
}
.menu-la-palette {
  background: #fdfffd;
}

.head-la-palette-title {
  font-family: "Kaushan Script", cursive, sans-serif;
  font-size: 108px;
  font-weight: normal;
  padding-top: 130px;
  background: -webkit-linear-gradient(290deg, #3d9339 40%, #bfff7e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carte-la-palette {
  font-family: "Kalam", cursive, sans-serif;
}
.carte-la-palette section:first-of-type {
  margin-top: 125px;
}

.section-la-palette {
  margin-top: 40px;
}
.section-la-palette h3 {
  font-size: 33px;
  font-weight: 300;
}

.la-palette-separation {
  width: 116%;
  margin: 60px 0 40px -8%;
}
.la-palette-separation img {
  width: 36%;
}
.la-palette-separation h3 {
  margin: 0;
}

.menu-dispo__prices-la-palette {
  font-weight: 300;
  font-size: 35px;
}

.last {
  padding-bottom: 270px;
}

@media screen and (max-width: 1024px) {
  .head-la-palette-title {
    font-size: 65px;
  }

  .la-palette-separation img {
    width: 30%;
  }
  .la-palette-separation h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 700px) {
  .head-la-palette-title {
    font-size: 55px;
  }

  .la-palette-separation img {
    width: 20%;
  }
  .la-palette-separation h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .head-la-palette-title {
    font-size: 43px;
  }

  .la-palette-separation img {
    width: 0%;
  }
  .la-palette-separation h3 {
    font-size: 30px;
  }
}
.mentions {
  width: 100%;
  margin-bottom: 100px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
