html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn__property {
  width: 654px;
  height: 118px;
  border-radius: 20px;
  margin-bottom: 84px;
  background-color: #579c87;
  font-family: Montserrat, sans-serif;
  color: #fdcb46;
  font-size: 47px;
  border: none;
}

.header {
  background: #579c87;
  height: 243px;
  position: relative;
}
.header__title {
  font-family: Montserrat, sans-serif;
  color: #fdcb46;
  font-size: 92px;
  letter-spacing: -4px;
  line-height: 243px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.header__liseret {
  background: #a1c181;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 60px;
  }
}
.container {
  width: 78.2%;
  margin: auto;
}

.footer {
  background: #579c87;
  height: 136px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__liseret {
  background: #a1c181;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
}
.footer__link {
  color: #fdcb46;
  font-size: 47px;
  display: inline-block;
  text-decoration: none;
  margin: 0 42px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 99px 0 94px;
}

.section {
  width: 45.7%;
  height: 758px;
  box-shadow: 0 0 25px #d8d8d8;
  cursor: pointer;
}
.section h1 {
  font-size: 63px;
  font-weight: normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.la_note {
  background: #fcdfdb;
  color: #3c1218;
  margin-bottom: 94px;
}
.la_note__music {
  margin-top: 45px;
  font-size: 70px;
  background: -webkit-linear-gradient(290deg, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la_note__title {
  font-size: 55px;
  font-family: Cookie, sans-serif;
  margin: 5px 0;
}
.la_note__big_title {
  font-style: italic;
  font-family: "Balsamiq Sans", cursive, sans-serif;
}

.le_chic {
  background: #fff5fe;
}
.le_chic__title {
  font-family: "Redressed", cursive, sans-serif;
  font-size: 55px;
  margin-bottom: 0;
  font-weight: normal;
  background: -webkit-linear-gradient(290deg, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le_chic__big_title {
  color: #c77412;
}

.le_delice {
  background: #f9f9f9;
  font-family: "Kalam", cursive, sans-serif;
  font-weight: 300;
}
.le_delice__title {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 55px;
  margin-bottom: 20px;
  padding: 0 5px;
  background: -webkit-linear-gradient(290deg, #0431df, #1b91fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.le_delice__big_title {
  color: #0887fb;
}

.la_palette {
  background: #fdfffd;
  font-family: "Kalam", cursive, sans-serif;
  font-weight: 300;
}
.la_palette__title {
  font-family: "Kaushan Script", cursive, sans-serif;
  font-size: 55px;
  margin-bottom: 0;
  font-weight: normal;
  background: -webkit-linear-gradient(290deg, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.la_palette__big_title {
  color: #72bf56;
}

/*# sourceMappingURL=style.css.map */
