.carte {
    width: 78.9%;
    margin: auto;
}

.menu-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    width: 100%;
    margin-bottom: 135px;
    box-shadow: $box-shadow;
  }

  .separation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  .menu-dispo {
    font-weight: 300;
    font-size: 29px; 
    &__choices {
      margin: 10px;
    }
}

.le-chic-choices {
  line-height: 46px;
}

.prices{
  margin: 0 0 0 20px;
}

@media screen and (max-width: 700px) {
  .menu-cont {
    flex-direction: column;
  }
}

.menu-dispo p {
  font-size: 22px;
}

.prices{
  margin: 0 0 20px 20px;
}