.btn {
    text-align: center;
    &__property {
        width: 654px;
        height: 118px;
        border-radius: 20px;
        margin-bottom: 84px;
        background-color: $color-primary;
        font-family: $font-primary;
        color: $color-secondary;
        font-size: 47px;
    }
}