.btn {
    display: flex;
    justify-content: center;
    &__property {
        width: 654px;
        height: 118px;
        border-radius: 20px;
        margin-bottom: 84px;
        background-color: $color-primary;
        font-family: Montserrat, sans-serif;
        color: $color-secondary;
        font-size: 47px;
        border: none;
    }
}