.main {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 99px 0 0 0;
}

.section-accueil {
    width: 45.7%;
    height: 758px;
    box-shadow: $box-shadow;
    margin-bottom: 94px;
    text-decoration: none;
}

.content-affiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 450ms;
    &:hover {
        transform: scale(1.12);
        opacity: 0.6;
    }
}

.la-note {
    background: $color-background-la-note;
    color: $color-la-note;
    &__music {
        margin-top: 85px;
        font-size: 70px;
        @include color-la-note-music;
    }
    &__title {
        font-size: 55px;
        font-family: $font-primary-la-note;
        margin: 5px 0 0 0;
    }
    &__big-title {
        font-family: $font-secondary-la-note-le-delice-la-palette;
        font-size: 63px;
    }
}

.le-chic {
    background: $color-background-le-chic;
    &__title {
        font-family: $font-primary-le-chic;
        font-size: 45px;
        letter-spacing: 3px;
        margin-bottom: 0;
        @include color-le-chic-title;
    }
    &__big-title {
        color: #c77412;
        font-size: 65px;
        letter-spacing: 5px;
    }
}

.le-delice {
    background: #f9f9f9;
    &__title {
        font-family: $font-primary-le-delice;
        font-size: 53px;
        font-weight: 300;
        margin-bottom: 10px;
        padding: 0 5px;
        @include color-le-delice-title;
    }
    &__big-title {
        font-family: $font-secondary-la-note-le-delice-la-palette;
        color: #0887fb;
        font-size: 65px;
        font-weight: 300;
    }
}

.la-palette {
    background: $color-background-la-palette;
    &__title {
        font-family: $font-primary-la-palette;
        font-size: 52px;
        font-weight: 300;
        margin: 80px 0 -20px 0;
        font-weight: normal;
        @include color-la-palette-title;
    }
    &__big-title {
        font-family: $font-secondary-la-note-le-delice-la-palette;
        color: #72bf56;
        font-size: 64px;
        font-weight: 300;
    }
}