.menu-la-note {
    width: 100%;
    background: $color-background-la-note;
    color: $color-la-note;
    margin-bottom: 135px;
    box-shadow: $box-shadow;
}

.head-la-note {
    text-align: center;
    font-family: $font-primary-la-note;
    &__music {
        font-size: 115px;
        @include color-la-note-music;
        margin: 95px 0 0px;
    }   
    &__title {
        font-size: 75px;
        margin: 0;
    }
}

.carte-la-note {
    width: 78.9%;
    margin: auto;
    font-family: $font-secondary-la-note-le-delice-la-palette;
    section:first-of-type {
        margin-top: 60px;
    }
}

.section-la-note {
    margin-top: 85px;
    h3 {
        font-size: 40px;
    }
}

.la-note-separation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 32%;
    }
    h3 {
        margin: 0;
    }  
}

.menu-dispo {
    font-weight: 300;
    line-height: 35px;
    font-size: 29px;
    display: flex;
    justify-content: space-between;     
    &__prices-la-note {
        font-weight: bold

    }
}

.foot-la-note {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary-la-note;
  padding: 80px 0;
  &__music {
      margin: 0;
      font-size: 65px;
      margin-right: 15px;
      @include color-la-note-music;
  }
  &__title {
      margin: 0;
      font-size: 65px;
  }
}