.menu-le-delice {
    background: $color-background-le-delice;
}

.head-le-delice-title {
    font-family: $font-primary-le-delice;
    font-size: 103px;
    font-weight: normal;
    padding-top: 160px;
    @include color-le-delice-title;
}

.carte-le-delice {
    font-family: $font-secondary-la-note-le-delice-la-palette;
    section:first-of-type {
        margin-top: 125px;
    }
}

.section-le-delice {
    margin-top: 40px;
    h3 {
        font-size: 33px;
        letter-spacing: 3px;
        font-weight: 300;
    }
}

.le-delice-separation {
    width: 116%;
    margin: 70px 0 40px -8%;
    img {
        width: 29%;
    }
    h3 {
        margin: 0;
    }  
}

.menu-dispo__prices-le-delice {
    font-weight: 300;
    font-size: 35px;
  }

.last {
    padding-bottom: 270px;
}

@media screen and (max-width: 1024px) {
    .head-le-delice-title { 
            font-size: 65px;
        }   

    .le-delice-separation {
        img {
            width: 30%;
        }
        h3 {
            font-size: 35px;
        }  
    }
}

@media screen and (max-width: 700px) {
    .head-le-delice-title {
        font-size: 55px;
    }
    
    .le-delice-separation {
        img {
            width: 20%;
        }
        h3 {
            font-size: 30px;
        }  
    }
}

@media screen and (max-width: 500px) {
    .head-le-delice-title { 
            font-size: 43px;
        }
    
    .le-delice-separation {
        img {
            width: 0%;
        }
        h3 {
            font-size: 30px;
        }  
    }
}
