.menu-le-delice {
    width: 100%;
    background: $color-background-le-delice;
    margin-bottom: 135px;
    box-shadow: $box-shadow;
}

.head-le-delice-title {
    text-align: center;
    font-family: $font-primary-le-delice;
    font-size: 103px;
    font-weight: normal;
    letter-spacing: 3px;
    padding-top: 160px;
    @include color-le-delice-title;
}

.carte-le-delice {
    width: 78.9%;
    margin: auto;
    font-family: $font-secondary-la-note-le-delice-la-palette;
    section:first-of-type {
        margin-top: 125px;
    }
}

.section-le-delice {
    margin-top: 40px;
    h3 {
        font-size: 33px;
        letter-spacing: 3px;
        font-weight: 300;
    }
}

.le-delice-separation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 116%;
    margin: 0 0 27px -8%;
    img {
        width: 29%;
    }
    h3 {
        margin: 0;
    }  
}

.menu-dispo {
    font-weight: 300;
    line-height: 35px;
    font-size: 28px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    &__prices-le-delice {
      font-weight: 300;
      font-size: 39px;
      margin: 0;
      p {
          margin: 29px 0;
      }
    }
}

.last {
    padding-bottom: 270px;
}



