.menu-le-chic {
    background: $color-background-le-chic;
}

.head-le-chic-title {
    font-family: $font-primary-le-chic;
    font-size: 72px;
    padding-top: 160px;
    @include color-le-chic-title;
}

.carte-le-chic {
    section:first-of-type {
        margin-top: 170px;
    }
}

.section-le-chic {
    margin-top: 85px;
    h3 {
        font-size: 33px;
        letter-spacing: 3px;
    }
}

.le-chic-separation {
    width: 116%;
    margin: 0 0 40px -8%;
    img {
        width: 28.5%;
    }
    h3 {
        margin: 0;
    }  
}

.orange-dark {
    color: #c77412;
}

.orange {
    color: #e08514;
}

.pink-dark {
    color: #a56799;
}

.pink {
    color: #bc8bb2
}

.purple-dark {
    color: #6e4ccc;
}

.purple {
    color: #9276d9;
    padding-bottom: 230px;
}

.menu-dispo__prices-le-chic {
    font-weight: normal;
    font-size: 32px;
  }