
@keyframes points {
    0% {
        transform: scaleX(0);
        
    }
    100% {
        transform: skewX(0);
    }
}

@keyframes footshake {
    25% {
        transform: translateX(2%);
    }
    75% {
        transform: translateX(-2%);
    }
}